/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
 	margin:0;
 	padding:0;
 	box-sizing:border-box;
 }

.crearfix::after{
	display:block;
	content:"";
	clear:both;
}
header{
	height:100px;
	width:100%;
}
.title{
	height:70px;
	width:100%;
}
.list-title{
	width:20%;
}
.list-body{
	width:60%;
}
.list-link{
	width:20%;
}
.box{
	width:100%;
}
td{
	text-align: center;
}

.book-title{
	width:20%;
}
.book-body{
	width:60%;
}
.link{
	width:20%;
}
.alert{
	border:2px solid red;
}
.alert p{
	height:40px;
	background-color:red;
	color:white;
	text-align:center;
}

